

.App{
    background-color: #202020 !important;
    /* font-family: 'Bebas Neue', sans-serif; */
    /* font-family: 'Roboto Slab', sans-serif; */
    
                                                
}
.btn{
    border-radius: 0;
    padding: 5px 20px;
}

.redLine{
    width: 135px;
    height: 55px;
    border-bottom: 5px solid rgb(255, 0, 0);
    position: absolute;
    }

/* .bannertext {
    justify-content: start !important;

} */