#light {
    background-color: white;
} 
#dark {
    background-color: rgb(41, 37, 37);
} 

.App{
    background-color: #202020;
    /* font-family: 'Bebas Neue', sans-serif; */
    /* font-family: 'Roboto Slab', sans-serif; */
    
                                                
}
.btn{
    border-radius: 0;
    padding: 5px 20px;
}
/* .bannertext {
    justify-content: start !important;

} */